@page "/r_producto"

<EditForm Model="@producto" OnValidSubmit="MetodoRelleno">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<div class="container">
		<div class="card shadow-lg">

			<div class="card-header" style="background-color: gray">
				<h3 class="card align-items-center" style="background-color: gray">Resgistro Producto</h3>
			</div>

			<div class="card-body" style="background-color: lightgray">
				<div class="row">
					<div class="col-4">
						<label for="name">Nombre Producto:</label>
						<InputText id="name" @bind-Value="producto.Nombre" class="form-control" />
						<ValidationMessage For="@(() => producto.Nombre)" />
					</div>

					<div class="col-4">
						<label for="Descripcion">Decripci&oacute;n Producto:</label>
						<InputSelect id="Descripcion" @bind-Value="producto.Descripcion" class="form-select">
							<option value="producto"></option>
							<option value="producto1">Paracetamol</option>
							<option value="producto2">Amoxicilina</option>
							<option value="producto3">Ibuprofeno</option>
						</InputSelect>
						<ValidationMessage For="@(() => producto.Descripcion)" />
					</div>

					<div class="col-4">
						<label for="Fecha">Fecha:</label>
						<InputDate id="Fecha" @bind-Value="producto.Fecha" class="form-control" />
						<ValidationMessage For="@(() => producto.Fecha)" />
					</div>
				</div>

				<div class="row">
					<div class="col-4">
						<label for="Cantidad">Cantidad de producto::</label>
						<InputNumber id="Cantidad" @bind-Value="producto.Cantidad" class="form-control" min="0"/>
						<ValidationMessage For="@(() => producto.Cantidad)" />
					</div>

					<div class="col-4">
						<label for="Precio">Precio del producto:</label>
						<InputNumber id="Precio" @bind-Value="producto.Precio" class="form-control" min="0" />
						<ValidationMessage For="@(() => producto.Precio)" />
					</div>
				</div>

				<div class="row">
					<div class="col-4">
						<label for="TipoUnidad">Tipo de unidad:</label>
						<InputNumber id="TipoUnidad" @bind-Value="producto.TipoUnidad" class="form-control" min="0"/>
						<ValidationMessage For="@(() => producto.TipoUnidad)" />
					</div>

					<div class="col-4">
						<label for="SucursalId">Sucursal ID:</label>
						<InputNumber id="SucursalId" @bind-Value="producto.SucursalId" class="form-control" min="0"/>
						<ValidationMessage For="@(() => producto.SucursalId)" />
					</div>
				</div>
				<br>
				<br>
				<br>
				<br>
				<br>
				@*Botones*@
				<div class="row justify-content-center">
					<div class="col-4">
						<button type="button" class="btn btn-outline-primary" @onclick="MetodoRelleno" style="background-color: white"> <i class="oi oi-file" /> Nuevo</button>
						<button type="submit" class="btn btn-outline-success" style="background-color: white"> <i class="oi oi-document" /> Guardar</button>
						<button type="button" class="btn btn-outline-danger" @onclick="MetodoRelleno" style="background-color: white"><i class="io io-trash" /> Eliminar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</EditForm>

@code {
	private Productos producto = new Productos();

	private class Productos
	{
		public string Nombre { get; set; }

		public string Descripcion { get; set; }

		public DateTime Fecha { get; set; }

		public int Cantidad { get; set; }

		public int Precio { get; set; }

		public int TipoUnidad { get; set; }

		public int SucursalId { get; set; }
	}

	private void MetodoRelleno()
	{
		Console.WriteLine($"Nombre: {producto.Nombre}");
		Console.WriteLine($"Correo electrónico: {producto.Descripcion}");
	}
}
